/*RESETAR O CSS + TAMANHOS EM REM*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

:root {
  font-size: 62.5%;
}

body {
  background: no-repeat center/100% url('https://wallpapers.com/images/featured/weather-xqhs9axpy8btfd3y.jpg');
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 1.5rem;    
  background-color: rgba(252, 251, 251, 0.089);
  border-radius: 1rem;
  max-width: 700px;
  backdrop-filter: blur(2px);
  box-shadow: 0px 0px 45px -7px rgba(0,0,0,0.51);
  
}

main > h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
  text-align: center;
  
}

/* Formulario */

main #search-form form {
  width: 100%;
  gap: 1rem;
  display: flex;
  margin-bottom: 1rem;
}

main #search-form input {
  flex: 1;
  width: 100%;
  height: 2.5rem;
  border-radius: 5px;
  border: none;
  padding: 0 10px;
  font-size: 1.6rem;
  
}
main #search-form button {
  background-color: rgb(95, 87, 87);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0rem 1rem;
  height: 2.6rem;
}

/* Informações */

main #tempo-info {  
  display: flex;
  align-items: center;
  justify-content: space-between;
}


main #tempo-info .tempo-data h2 {
  font-size: 2.3rem;
  font-weight: 400;
  margin-bottom: 0.2rem;
}

main #tempo-info .tempo-data span {
  font-size: 4rem;
  font-weight: bold;
}
